body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 1000px;
  margin: auto;
}

.songs {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.song {

}

.song .coverart {
  width: 100%;
}